<template>
  <transition name="modal-fade">
    <div class="modal-overlay" @click="$emit('close-modal')">
      <div class="modal" @click.stop>
        <p class="title">{{ clientData ? "Edit Client" : "New Client" }}</p>
        <div class="row">
          <span>Name:</span>
          <input v-model="clientNameState" />
        </div>
        <div class="row">
          <span>Email:</span>
          <input v-model="emailState" />
        </div>
        <div class="row">
          <span>Phone:</span>
          <input v-model="phoneState" />
        </div>
        <div class="row">
          <span style="margin-right: 10px">Providers:</span>
          <input v-model="providerNameState" style="width: 40%" />
          <button @click="handleProvider">
            {{ providerEditable ? "Edit Provider" : "Add Provider" }}
          </button>
        </div>
        <div class="box">
          <div
            v-for="(provider, index) in allProviders"
            :key="index"
            class="provider-item"
          >
            <input
              v-model="selectedProviders"
              type="checkbox"
              :value="provider._id"
            />
            <p>{{ provider.name }}</p>
            <div @click="editProvider(provider._id)" class="icon-btn">
              <img src="../assets/edit.png" />
            </div>
            <div @click="removeProvider(provider._id)" class="icon-btn">
              <img src="../assets/delete.png" />
            </div>
          </div>
        </div>
        <div class="modal-bottom">
          <button style="margin-left: auto" @click="$emit('close-modal')">
            Cancel
          </button>
          <button v-if="!clientData" @click="addClient">Add Client</button>

          <button v-else @click="editClient">Save Client</button>
        </div>
      </div>
      <div class="close" @click="$emit('close-modal')"></div>
    </div>
  </transition>
</template>

<script>
import { onMounted, ref } from "vue";
import { getProviders, createProvider, deleteProvider } from "../utils";

export default {
  props: {
    clientData: {
      type: Object,
      default: null,
    },
  },
  emits: ["add-client", "update-client", "delete-provider"],
  setup(props, context) {
    const providerNameState = ref("");
    const clientNameState = ref(props.clientData?.name || "");
    const phoneState = ref(props.clientData?.phone || "");
    const emailState = ref(props.clientData?.email || "");
    const allProviders = ref([]);
    const selectedProviders = ref(props.clientData?.providers || []);
    const providerEditable = ref(false);
    const editingProviderId = ref("");

    const initialize = () => {
      providerNameState.value = "";
      clientNameState.value = "";
      phoneState.value = "";
      emailState.value = "";
      allProviders.value = [];
      providerEditable.value = false;
      editingProviderId.value = "";
    };

    const addProvider = () => {
      createProvider({
        name: providerNameState.value,
      }).then((res) => {
        allProviders.value.push(res);
        providerNameState.value = "";
      });
    };

    const handleProvider = () => {
      if (providerEditable.value) {
        allProviders.value.map((provider) => {
          if (provider._id === editingProviderId.value)
            provider.name = providerNameState.value;
          return;
        });
      } else {
        addProvider();
      }
      editingProviderId.value = "";
      providerEditable.value = false;
    };

    const editProvider = (id) => {
      providerNameState.value = allProviders.value.filter(
        (provider) => provider._id === id
      )[0].name;
      providerEditable.value = true;
      editingProviderId.value = id;
    };

    const removeProvider = (id) => {
      deleteProvider(id).then(() => {
        allProviders.value = allProviders.value.filter(
          (provider) => provider._id !== id
        );
      });
      context.emit("delete-provider", id);
    };

    const addClient = () => {
      context.emit("add-client", {
        name: clientNameState.value,
        phone: phoneState.value,
        email: emailState.value,
        providers: selectedProviders.value,
      });
      initialize();
    };

    const editClient = () => {
      context.emit(
        "update-client",
        {
          name: clientNameState.value,
          phone: phoneState.value,
          email: emailState.value,
          providers: selectedProviders.value,
        },
        props.clientData._id
      );
      initialize();
    };

    onMounted(async () => {
      allProviders.value = await getProviders();
    });

    return {
      providerNameState,
      clientNameState,
      phoneState,
      emailState,
      handleProvider,
      editProvider,
      providerEditable,
      addClient,
      editClient,
      allProviders,
      removeProvider,
      selectedProviders,
    };
  },
};
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}
.modal {
  text-align: center;
  background-color: white;
  height: 550px;
  width: 500px;
  margin-top: 10%;
  border-radius: 20px;
}
.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}
.title {
  text-align: start;
  padding: 10px;
  border-bottom: 1px solid;
  color: blue;
}
button {
  width: 100px;
  height: 30px;
  color: black;
  font-size: 12px;
  border-radius: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}
input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
span {
  width: 80px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  height: 150px;
  margin-left: 140px;
  overflow-y: auto;
}
.modal-bottom {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  margin-right: 10px;
}
.provider-item {
  display: flex;
  align-items: center;
}
.provider-item > input {
  width: 30px;
}

.provider-item > p {
  margin-right: auto;
  max-width: 100px;
  word-break: break-word;
}

.icon-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
</style>
