<template>
  <div class="header">
    <h2>Clients</h2>
    <button class="create-btn" @click="openCreateModal">New Client</button>
  </div>
  <div>
    <table width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Providers</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(client, index) in clients" :key="index">
          <td>{{ client.name }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.providers }}</td>
          <td>
            <a class="underline button" @click="openEditClientModal(client._id)"
              >Edit</a
            >
          </td>
          <td>
            <a class="underline button" @click="removeClient(client._id)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <client-modal
      v-if="showModal"
      :clientData="clientData"
      @close-modal="showModal = false"
      @add-client="addClient"
      @update-client="editClient"
      @delete-provider="deleteProvider"
    />
  </div>
</template>

<script>
import { ref, onMounted } from "vue";
import { getClients, deleteClient, createClient, updateClient } from "./utils";
import ClientModal from "./components/ClientModal.vue";

export default {
  name: "App",
  components: {
    ClientModal,
  },
  setup() {
    const clients = ref([]);
    const showModal = ref(false);
    const clientData = ref(null);

    const removeClient = (id) => {
      deleteClient(id).then(() => {
        clients.value = clients.value.filter((client) => client._id !== id);
      });
    };

    const addClient = (data) => {
      createClient(data).then((response) => {
        clients.value.push(response);
      });
      showModal.value = false;
    };

    const editClient = (data, id) => {
      updateClient(id, data).then(() => {
        clients.value = clients.value.map((client) => {
          if (client._id === id) {
            return { ...data, _id: id };
          } else {
            return client;
          }
        });
      });
      showModal.value = false;
    };

    const openEditClientModal = (id) => {
      showModal.value = true;
      clientData.value = clients.value.filter(
        (client) => client._id === id
      )?.[0];
    };

    const deleteProvider = (id) => {
      console.log("id", id, clients);
      clients.value.map((client) => {
        client.providers = client.providers.filter(
          (provider) => provider !== id
        );
      });
      console.log("id", id, clients);
    };

    const openCreateModal = () => {
      clientData.value = null;
      showModal.value = true;
    };

    onMounted(async () => {
      clients.value = await getClients();
    });

    return {
      clients,
      showModal,
      removeClient,
      addClient,
      editClient,
      deleteProvider,
      openEditClientModal,
      clientData,
      openCreateModal,
    };
  },
};
</script>

<style>
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  background: lightcyan;
}
h2 {
  color: darkcyan;
}
.create-btn {
  height: 40px;
}

table,
th,
td {
  height: 30px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}
</style>
